body {
  margin: 0;
  height: 100%;
  color: rgba(229, 228, 253, 0.866);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

ul {
  margin: 0 0 0 15%;
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

li {
  display: inline-block;
}

h1 {
  font-size: 180px;
  margin: 25px 0 40px 0;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 10px;
  color: white;
}

h2 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 32px;
}

p {
  font-size: 23px;
  font-family: sans-serif;
  line-height: 40px;
}

nav {
  position: relative;
  padding-top: 50px;
  z-index: 2;
}

nav hr {
  display: inline-block;
  position: absolute;
  width: 35%;
  border: 0.5px solid rgba(73, 72, 72, 0.5);
  margin: 53px 80px;
  z-index: 1;
}

@media screen and (min-width: 1440px) {
  #home {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
  #destination {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
  }

  #crew {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
  }

  #tech {
    background-image: url("../assets/technology/background-technology-desktop.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  #home {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
  #destination {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
  #crew {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }
  #tech {
    background-image: url("../assets/technology/background-technology-tablet.jpg");
  }
}

@media screen and (max-width: 767px) {
  #home {
    background-image: url("../assets/home/background-home-mobile.jpg");
  }
  #destination {
    background-image: url("../assets/destination/background-destination-mobile.jpg");
  }
  #crew {
    background-image: url("../assets/crew/background-crew-mobile.jpg");
  }
  #tech {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
  }
}

.header {
  height: 10%;
  position: relative;
}

.logo {
  margin: 30px 0 0 40px;
  float: left;
}

.sub-nav {
  position: relative;
  left: 30px;
  top: 40px;
  z-index: 1;
}

.sub-nav ul {
  margin: 0;
}

.nav-buttons {
  position: relative;
  float: right;
  backdrop-filter: blur(50px);
  background-color: rgba(29, 44, 59, 0.254);
  height: 10%;
  font-size: 15px;
  width: 58%;
  height: 100px;
}

.nav-btn {
  display: inline-block;
  color: white;
  font-size: 15px;
  margin: 0 20px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.nav-btn-padding {
  padding: 40px 0;
}

.content {
  width: 33%;
  position: relative;
}

.left {
  float: left;
}

.center {
  position: relative;
  display: inline-block;
  margin-top: 80px;
  left: 33%;
}

.right {
  float: right;
  top: 40%;
  right: 13%;
}

.home-margin {
  margin: 250px 0 0 150px;
}

.explore {
  margin: 450px 10% 20% 0;
  padding: 6%;
  float: right;
  background-color: white;
  color: black;
  border-radius: 50%;
}

.nav-active {
  border-bottom: 2px solid white;
}

#nav-home:hover .nav-btn,
#nav-destinations:hover .nav-btn,
#nav-crew:hover .nav-btn,
#nav-tech:hover .nav-btn,
#nav-europa:hover .nav-btn,
#nav-mars:hover .nav-btn,
#nav-moon:hover .nav-btn,
#nav-titan:hover .nav-btn,
#nav-commander:hover .nav-btn,
#nav-engineer:hover .nav-btn,
#nav-pilot:hover .nav-btn,
#nav-specialist:hover .nav-btn,
#nav-capsule:hover .nav-btn,
#nav-spaceport:hover .nav-btn,
#nav-vehicle:hover .nav-btn
 {
  border-bottom: 1px solid white;
}

.destination-content {
  position: relative;
  top: 10%;
}

.destination-content img {
  position: absolute;
  padding: 10% 0 0 0;
  top: 30%;
  left: 20%;
}

.crew-content {
  position: relative;
  margin-top: 20%;
}

.crew-content img {
  position: absolute;
  left: 70%;
  bottom: 0%;
}

.crew-name {
  margin: 0 30%;
}

.tech-content {
  position: relative;
}
